<form class="new-form">
    <div class="form-group row">
        <label for="serverName" class="col-sm-6 col-form-label">Server Name</label>
        <div class="col-sm-12">
            <input type="text" id="serverName" placeholder="Name" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="serverAddress" class="col-sm-6 col-form-label">Address</label>
        <div class="col-sm-12">
            <input type="text" id="serverAddress" placeholder="IPv4, IPv6 or FQDN" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="serverDescription" class="col-sm-6 col-form-label">Description</label>
        <div class="col-sm-12">
            <input type="text" id="serverDescription" placeholder="Comments about this server" class="form-control">
        </div>
    </div>
</form>