<div ng-controller="workController">

    <div>{{messageBox}}</div>

    <div class="container page-title">
        <div class="row justify-content-md-left">
            <div class="col-2 flex-fixed-width-item justify-content-md-center">
                <h4 class="font-weight-normal">{{app}}</h4>
            </div>
            <div class="col mw-100">
                <input class="search-form mw-100" type="text" placeholder="What are you searching?" />
            </div>
            <div class="col flex-fixed-width-item">
                <button type="button" class="btn btn-info page-submenu-button">New Item</button>
            </div>
        </div>
    </div>

    <div class="container page-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="">Schedule</a>
                    </th>
                    <th>
                        <a href="">Source</a>
                    </th>
                    <th>
                        <a href="">Destination</a>
                    </th>
                    <th>
                        <a href="">Server</a>
                    </th>
                    <th>
                        <a href="">Actions</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="work in works">
                    <td>{{work.schedule}}</td>
                    <td>{{work.origin_path}}</td>
                    <td>{{work.destination_path}}</td>
                    <td>{{work.server_id.name}}</td>
                    <td>
                        <i class="material-icons md-36">edit</i>
                        <i class="material-icons md-36">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>